<div class="centered-content">
    <div class="task-manager-container">
        
        <div class="side-bar has-background-white">
            <div class="title has-text-primary">
                Lists
            </div>

            <div class="list-menu">
                <!-- routerLinkActive selects a class which is active based on which route is selected -->
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]" routerLinkActive="is-active">
                    <p>{{ list.title }}</p>
                </a>
                <!-- <a class="list-menu-item">
                    <p>List #2</p>
                </a>
                <a class="list-menu-item">
                    <p>List #3</p>
                </a>
                <a class="list-menu-item">
                    <p>List #4</p>
                </a> -->
            </div>

            <button class="button is-primary has-text-white" (click)="goToNewList()">+ New List</button>
        </div>

        <div class="tasks-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>

            <!-- Task Elements -->
            <div class="task" *ngFor="let task of tasks">
                <p>{{ task.title ? task.title : "No Tasks Under This List"}}</p>
            </div>
            <!-- <div class="task complete">
                <p>This is something I have to do</p>
            </div> -->

            <button class="circle-add-button button is-primary" (click)="goAddTask()">+Task</button>
        </div>

    </div>
</div>