<div class="centered-content">
    <div class="task-manager-container">
        
        <div class="side-bar has-background-white">
            <div class="title has-text-primary">
                Lists
            </div>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let task of tasks" [routerLink]="['/lists', task._id]">
                    <p>{{ task.title }}</p>
                </a>
                <!-- <a class="list-menu-item">
                    <p>List #2</p>
                </a>
                <a class="list-menu-item">
                    <p>List #3</p>
                </a>
                <a class="list-menu-item">
                    <p>List #4</p>
                </a> -->
            </div>

            <button class="button is-primary has-text-white" (click)="goToNewList()">New List</button>
        </div>

        <div class="tasks-list-container has-background-light">
            <h1 class="title has-text-primary">
                Tasks
            </h1>

            <!-- Task Elements -->
            <div class="task">
                <p>This is something I have to do</p>
            </div>
            <div class="task complete">
                <p>This is something I have to do</p>
            </div>
        </div>

    </div>
</div>