@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$turquoise: #44ddd0;
$green: #27d7a1;

$light-green: #45f69e;
$light: #f8f8f8;
$dark-green: rgb(0, 100, 80);

// Bulma Global Variables
$family-sans-serif: "Nunito", sans-serif;
$priary: $green;

$link: $light-green;

// Component variables
$control-border-width: 2px;
$input-border-width: transparent;
$input-shadow: none;

// Styles to apply to whole app
html {
    background: linear-gradient(to right top, $turqoise, $green);
}

html, body {
    height: 100%;
}